<a href="https://colab.research.google.com/github/CM-007/pythonCode_DS/blob/main/classExercise01Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# Rread csv file
df= pd.read_csv("/content/Salaries.csv")

In [ ]:
# Q.Find how many records this data frames has ?
df.shape[0]

78

In [ ]:
#Q. how many colums are there ?
df.shape[1]

6

In [ ]:
# Q.What are the column names ?
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
# Q.What types of columns we have in this DF
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object