<a href="https://colab.research.google.com/github/CM-007/pythonCode_DS/blob/main/Descriptive_stat_methods_pandas_salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Descriptive Statistics Pandas Methods**

In [3]:
import pandas as pd
# Read csv file
df=pd.read_csv("/content/Salaries.csv")

In [4]:
# retuen first n rows
df.head(1)

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960

In [5]:
# retuen last n rows
df.tail(1)

    rank discipline  phd  service     sex  salary
77  Prof          A   23       15  Female  109646

In [7]:
# Descriptive Statistics
# summarze all information (count,mean,SD,min,max...)
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [9]:
df.max()

rank            Prof
discipline         B
phd               56
service           51
sex             Male
salary        186960
dtype: object

In [10]:
df.min()

rank          AssocProf
discipline            A
phd                   1
service               0
sex              Female
salary            57800
dtype: object

In [11]:
df.mean()

<ipython-input-11-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [13]:
df.std()

<ipython-input-13-ce97bb7eaef8>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [10]:
# Class Exercise
# Q:What are the mean value of the first 59 records in the dataset ?
df50=df.head(50)
# df50.mean()

df.head(50).mean()

<ipython-input-10-90698bf3c604>:6: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.head(50).mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64