<a href="https://colab.research.google.com/github/CM-007/pythonCode_DS/blob/main/EDA01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Load the Libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('/content/data_clean.csv',index_col=0) # No index column

In [7]:
data.head()

   Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
1   41.0    190.0   7.4     67     5    1  2010    67       S
2   36.0    118.0   8.0     72     5    2  2010    72       C
3   12.0    149.0  12.6     74     5    3  2010    74      PS
4   18.0    313.0  11.5     62     5    4  2010    62       S
5    NaN      NaN  14.3     56     5    5  2010    56       S

In [8]:
data

     Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
1     41.0    190.0   7.4     67     5    1  2010    67       S
2     36.0    118.0   8.0     72     5    2  2010    72       C
3     12.0    149.0  12.6     74     5    3  2010    74      PS
4     18.0    313.0  11.5     62     5    4  2010    62       S
5      NaN      NaN  14.3     56     5    5  2010    56       S
..     ...      ...   ...    ...   ...  ...   ...   ...     ...
154   41.0    190.0   7.4     67     5    1  2010    67       C
155   30.0    193.0   6.9     70     9   26  2010    70      PS
156    NaN    145.0  13.2     77     9   27  2010    77       S
157   14.0    191.0  14.3     75     9   28  2010    75       S
158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 9 columns]

In [10]:
data.tail()

     Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
154   41.0    190.0   7.4     67     5    1  2010    67       C
155   30.0    193.0   6.9     70     9   26  2010    70      PS
156    NaN    145.0  13.2     77     9   27  2010    77       S
157   14.0    191.0  14.3     75     9   28  2010    75       S
158   18.0    131.0   8.0     76     9   29  2010    76       C

In [9]:
data.shape

(158, 9)

In [11]:
# Data structure
type(data)

pandas.core.frame.DataFrame

In [13]:
# Data Types
data.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Temp C      object
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [14]:
data.describe()

            Ozone     Solar.R        Wind         Day    Year        Temp
count  120.000000  151.000000  158.000000  158.000000   158.0  158.000000
mean    41.583333  185.403974    9.957595   16.006329  2010.0   77.727848
std     32.620709   88.723103    3.511261    8.997166     0.0    9.377877
min      1.000000    7.000000    1.700000    1.000000  2010.0   56.000000
25%     18.000000  119.000000    7.400000    8.000000  2010.0   72.000000
50%     30.500000  197.000000    9.700000   16.000000  2010.0   78.500000
75%     61.500000  257.000000   11.875000   24.000000  2010.0   84.000000
max    168.000000  334.000000   20.700000   31.000000  2010.0   97.000000

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 1 to 158
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    120 non-null    float64
 1   Solar.R  151 non-null    float64
 2   Wind     158 non-null    float64
 3   Temp C   158 non-null    object
 4   Month    158 non-null    object
 5   Day      158 non-null    int64
 6   Year     158 non-null    int64
 7   Temp     158 non-null    int64
 8   Weather  155 non-null    object
dtypes: float64(3), int64(3), object(3)
memory usage: 12.3+ KB

# **Data Type Converstion**

In [17]:
data.Month = pd.to_numeric(data.Month, errors='coerce')
data['Temp C'] = pd.to_numeric(data['Temp C'], errors='coerce')
data.Weather = data['Weather'].astype('category')

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 1 to 158
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    120 non-null    float64
 1   Solar.R  151 non-null    float64
 2   Wind     158 non-null    float64
 3   Temp C   157 non-null    float64
 4   Month    157 non-null    float64
 5   Day      158 non-null    int64
 6   Year     158 non-null    int64
 7   Temp     158 non-null    int64
 8   Weather  155 non-null    category
dtypes: category(1), float64(5), int64(3)
memory usage: 11.4 KB