<a href="https://colab.research.google.com/github/CM-007/pythonCode_DS/blob/main/Missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Self Learn**

In [3]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),pd.NaT]
                   })
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

# **DataFrame.dropna() drops any rows that have missing data:**

In [9]:
df.dropna()

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [7]:
df.dropna(axis = 'columns')

       name
0    Alfred
1    Batman
2  Catwoman

In [12]:
df.dropna(how='all')

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [16]:
df.dropna(thresh=2)

       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

# DataFrame.fillna() fills missing data:

In [17]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [18]:
df.fillna(0)

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

In [19]:
values = {"A": 0, "B": 1, "C": 2, "D": 3}
df.fillna(value=values)

     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  2.0  1.0
2  0.0  1.0  2.0  3.0
3  0.0  3.0  2.0  4.0

In [21]:
df.fillna(value=values, limit=2)

     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  2.0  1.0
2  0.0  1.0  NaN  3.0
3  NaN  3.0  NaN  4.0

# isna() gets the boolean mask where values are nan:

In [22]:
pd.isna('a')

False

In [24]:
pd.isna(pd.NA)

True

In [25]:
pd.isna(np.nan)

True