<a href="https://colab.research.google.com/github/CM-007/pythonCode_DS/blob/main/pandasBasicSP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Pandas Self Study**

Importing Librarys

In [3]:
import numpy as np
import pandas as pd

Creating Data Frame object

In [2]:
pd.DataFrame({'A':[1,2,3]})

   A
0  1
1  2
2  3

**Object Creation**

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

**Creating a DataFrame by passing a NumPy array, with a datetime index using date_range() and labeled columns:**

In [11]:
dates =pd.date_range('20230620',periods=6)
dates

DatetimeIndex(['2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23',
               '2023-06-24', '2023-06-25'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.rand(6,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2023-06-20  0.308521  0.507595  0.537175  0.879552
2023-06-21  0.349185  0.609819  0.810873  0.786667
2023-06-22  0.281566  0.897752  0.815658  0.903736
2023-06-23  0.728377  0.478763  0.304676  0.275791
2023-06-24  0.180551  0.021465  0.539043  0.179967
2023-06-25  0.342194  0.065815  0.340362  0.839790

**Creating a DataFrame by passing a dictionary of objects that can be converted into a series-like structure:**

In [22]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",

    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

**The columns of the resulting DataFrame have different dtypes:**

In [23]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# **Viewing data**

In [25]:
df.head()

                   A         B         C         D
2023-06-20  0.308521  0.507595  0.537175  0.879552
2023-06-21  0.349185  0.609819  0.810873  0.786667
2023-06-22  0.281566  0.897752  0.815658  0.903736
2023-06-23  0.728377  0.478763  0.304676  0.275791
2023-06-24  0.180551  0.021465  0.539043  0.179967

In [26]:
df.tail(3)

                   A         B         C         D
2023-06-23  0.728377  0.478763  0.304676  0.275791
2023-06-24  0.180551  0.021465  0.539043  0.179967
2023-06-25  0.342194  0.065815  0.340362  0.839790

In [27]:
df.index

DatetimeIndex(['2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23',
               '2023-06-24', '2023-06-25'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

## **describe() shows a quick statistic summary of your data:**

In [29]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.365065  0.430201  0.557965  0.644250
std    0.188141  0.334382  0.220302  0.326355
min    0.180551  0.021465  0.304676  0.179967
25%    0.288304  0.169052  0.389565  0.403510
50%    0.325357  0.493179  0.538109  0.813228
75%    0.347437  0.584263  0.742916  0.869611
max    0.728377  0.897752  0.815658  0.903736

### **Transposing your data:**

In [30]:
df.T

   2023-06-20  2023-06-21  2023-06-22  2023-06-23  2023-06-24  2023-06-25
A    0.308521    0.349185    0.281566    0.728377    0.180551    0.342194
B    0.507595    0.609819    0.897752    0.478763    0.021465    0.065815
C    0.537175    0.810873    0.815658    0.304676    0.539043    0.340362
D    0.879552    0.786667    0.903736    0.275791    0.179967    0.839790

## **DataFrame.sort_index() sorts by an axis:**

In [32]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2023-06-20  0.879552  0.537175  0.507595  0.308521
2023-06-21  0.786667  0.810873  0.609819  0.349185
2023-06-22  0.903736  0.815658  0.897752  0.281566
2023-06-23  0.275791  0.304676  0.478763  0.728377
2023-06-24  0.179967  0.539043  0.021465  0.180551
2023-06-25  0.839790  0.340362  0.065815  0.342194

## **DataFrame.sort_values() sorts by values:**

In [36]:
df.sort_values(by="B",ascending=False)

                   A         B         C         D
2023-06-22  0.281566  0.897752  0.815658  0.903736
2023-06-21  0.349185  0.609819  0.810873  0.786667
2023-06-20  0.308521  0.507595  0.537175  0.879552
2023-06-23  0.728377  0.478763  0.304676  0.275791
2023-06-25  0.342194  0.065815  0.340362  0.839790
2023-06-24  0.180551  0.021465  0.539043  0.179967

### **Selecting a single column, which yields a Series, equivalent to df.A:**

In [39]:
df.A
df['A']

2023-06-20    0.308521
2023-06-21    0.349185
2023-06-22    0.281566
2023-06-23    0.728377
2023-06-24    0.180551
2023-06-25    0.342194
Freq: D, Name: A, dtype: float64

In [42]:
df[0:3]

                   A         B         C         D
2023-06-20  0.308521  0.507595  0.537175  0.879552
2023-06-21  0.349185  0.609819  0.810873  0.786667
2023-06-22  0.281566  0.897752  0.815658  0.903736

In [43]:
df.loc[:,["A"]]

                   A
2023-06-20  0.308521
2023-06-21  0.349185
2023-06-22  0.281566
2023-06-23  0.728377
2023-06-24  0.180551
2023-06-25  0.342194

In [52]:
df[df["A"]>0.6]

                   A         B         C         D
2023-06-23  0.728377  0.478763  0.304676  0.275791

In [53]:
df[df >0.1]

                   A         B         C         D
2023-06-20  0.308521  0.507595  0.537175  0.879552
2023-06-21  0.349185  0.609819  0.810873  0.786667
2023-06-22  0.281566  0.897752  0.815658  0.903736
2023-06-23  0.728377  0.478763  0.304676  0.275791
2023-06-24  0.180551       NaN  0.539043  0.179967
2023-06-25  0.342194       NaN  0.340362  0.839790

In [59]:
df3 =df.copy()
df3["E"] = ['One','Two','Three','Four','Three','Four']
df3

                   A         B         C         D      E
2023-06-20  0.308521  0.507595  0.537175  0.879552    One
2023-06-21  0.349185  0.609819  0.810873  0.786667    Two
2023-06-22  0.281566  0.897752  0.815658  0.903736  Three
2023-06-23  0.728377  0.478763  0.304676  0.275791   Four
2023-06-24  0.180551  0.021465  0.539043  0.179967  Three
2023-06-25  0.342194  0.065815  0.340362  0.839790   Four

In [60]:
df3[df3["E"].isin(["Two"])]

                   A         B         C         D    E
2023-06-21  0.349185  0.609819  0.810873  0.786667  Two