In [1]:
import pandas as pd

In [2]:
# Load data from csv file
df = pd.read_csv('weather.csv')
df

        Day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [8]:
# Load data from Excel file
df1 = pd.read_excel('weather.xlsx','Sheet1')

In [11]:
# Creating a DF from python dictionary
weather_data = {
    "day":['1/2/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017'],
    "temperature":[34,43,22,12,43]
}

df= pd.DataFrame(weather_data)

        day  temperature
0  1/2/2017           34
1  1/2/2017           43
2  1/3/2017           22
3  1/4/2017           12
4  1/5/2017           43

In [14]:
# using tupples
weather_data = [
    ('1/2/2017',34),
     ('1/2/2017',43)
 ]
df= pd.DataFrame(weather_data,columns=['day','temp'])

In [ ]:
# web site 
# pandas io