In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather.csv')
df

        Day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [3]:
df.shape
# (Row,column)

(6, 4)

In [4]:
df.head()

        Day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [5]:
df.tail()

        Day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [6]:
df[1:5]

        Day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [7]:
df.columns

Index(['Day', 'temperature', 'windspeed', 'event'], dtype='object')

In [8]:
###Both are same
# df.Day
df['Day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Day, dtype: object

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
type(df.Day)

pandas.core.series.Series

In [11]:
# printing columns
df[['Day','event']]

        Day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [13]:
# maximum temprature 
df.temperature.max()

35

In [14]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [15]:
df.count()

Day            6
temperature    6
windspeed      6
event          6
dtype: int64

In [31]:
# condition operations
# df[df.temperature >=30]
# df[df['temperature'] >=33]
# df[df['temperature'] == df['temperature'].max() ]
df[['Day','temperature']][df['temperature'] == df['temperature'].max() ]

        Day  temperature
1  1/2/2017           35

In [32]:
# set index
df.set_index('Day')

          temperature  windspeed  event
Day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           32          2  Sunny