# Importing Libraries

In [2]:
import pandas as pd
import numpy as np

##series and dataFrame

    A pandas series is a one-dimensional data structure that comprises of a key-value pair. It is similar to a python dictionary, except it provides more freedom to manipulate and edit the data. To initialize a series, 
    use- pd.Series()

    A pandas dataframe is a two-dimensional data-structure that can be thought of as a spreadsheet. A dataframe can also be thought of as a combination of two or more series. To initialize a dataframe, 
    use- pd.DataFrame

In [8]:
ser = pd.Series(np.random.rand(30))
ser

0     0.326251
1     0.486343
2     0.063461
3     0.748615
4     0.773158
5     0.912762
6     0.111712
7     0.376102
8     0.337058
9     0.125772
10    0.088443
11    0.009658
12    0.948279
13    0.372609
14    0.431725
15    0.408063
16    0.735983
17    0.936040
18    0.914336
19    0.235877
20    0.307034
21    0.817758
22    0.165829
23    0.573828
24    0.469836
25    0.382117
26    0.496736
27    0.128373
28    0.514780
29    0.633838
dtype: float64

In [10]:
type(ser)

pandas.core.series.Series

In [12]:
df = pd.DataFrame(np.random.rand(300,6),index = np.arange(300))
df

            0         1         2         3         4         5
0    0.545579  0.347931  0.525657  0.336868  0.142682  0.202976
1    0.990999  0.200749  0.647512  0.449511  0.975153  0.683181
2    0.021881  0.276406  0.819138  0.203921  0.196163  0.082591
3    0.634794  0.807164  0.238600  0.121842  0.233556  0.988487
4    0.643244  0.770679  0.464878  0.649428  0.575142  0.652470
..        ...       ...       ...       ...       ...       ...
295  0.049066  0.685780  0.605838  0.838890  0.476481  0.638363
296  0.049769  0.599545  0.998941  0.456150  0.906415  0.214843
297  0.132586  0.650838  0.777211  0.516814  0.926959  0.795961
298  0.656421  0.788149  0.846264  0.434976  0.925899  0.628711
299  0.116682  0.623028  0.274308  0.338656  0.910000  0.880066

[300 rows x 6 columns]

In [13]:
type(df)

pandas.core.frame.DataFrame

In [15]:
# summary
df.describe()

                0           1           2           3           4           5
count  300.000000  300.000000  300.000000  300.000000  300.000000  300.000000
mean     0.490930    0.498822    0.477156    0.510151    0.512431    0.522209
std      0.294220    0.287268    0.297194    0.289212    0.298820    0.279426
min      0.000243    0.000085    0.000576    0.003107    0.002143    0.000926
25%      0.217387    0.245626    0.223098    0.260375    0.249870    0.300040
50%      0.484667    0.515247    0.474112    0.504176    0.495421    0.537052
75%      0.743260    0.734763    0.756567    0.770770    0.793657    0.760510
max      0.998902    0.997953    0.999097    0.997855    0.999387    0.997200

In [16]:
df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            290, 291, 292, 293, 294, 295, 296, 297, 298, 299],
           dtype='int64', length=300)

In [17]:
df.columns

RangeIndex(start=0, stop=6, step=1)