In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('weather.csv')
df

        Day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [6]:
df.shape
# (Row,column)

(6, 4)

In [12]:
df.head()

        Day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [13]:
df.tail()

        Day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [19]:
df[1:5]

        Day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [20]:
df.columns

Index(['Day', 'temperature', 'windspeed', 'event'], dtype='object')

In [24]:
###Both are same
# df.Day
df['Day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Day, dtype: object

In [25]:
type(df)

pandas.core.frame.DataFrame

In [26]:
type(df.Day)

pandas.core.series.Series

In [30]:
df[['Day','event']]

        Day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny