In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('weather.csv',na_values=['not available','n.a'])
df

        Day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         35.0        7.0  Sunny
2  1/3/2017         28.0        2.0    NaN
3  1/4/2017          NaN        7.0   Snow
4  1/5/2017         32.0        4.0   Rain
5  1/6/2017         32.0        2.0    NaN
6  1/7/2017         31.0        NaN  Sunny
7  1/8/2017         32.0        2.0    NaN

In [5]:
# save modify data in csv file (new csv file created) 
df.to_csv('new.csv',index =False)