<a href="https://colab.research.google.com/github/CM-007/pythonCode_DS/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Bacics 01**

# **21/06/2023**

In [ ]:
print("Welcome to ExcelR!")

Welcome to ExcelR!

In [ ]:
print('"Welcome to ExcelR!"')

"Welcome to ExcelR!"

In [ ]:
120/12*2-4

16.0

In [ ]:
marks = 20
marks

20

In [ ]:
type(marks)

int

In [ ]:
# Power function(**)
5**4

625

In [ ]:
price = 50.5
price
type(price) #only shows o/p of last line

float

In [ ]:
price = 50.5
print(price)
type(price)

50.5

float

In [ ]:
name = "Neha"
type(name)

str

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1 = "welcome to Data Science"
str1.capitalize()

'Welcome to data science'

In [ ]:
str1

'welcome to Data Science'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [ ]:
str1.lower()

'welcome to data science'

In [ ]:
str1.title()

'Welcome To Data Science'

In [ ]:
food ="bIrYAni"
name="sNEHAL"

print(food.swapcase())
name.swapcase()

BiRyaNI

'Snehal'

In [ ]:
food.capitalize()

'Biryani'

In [ ]:
s1 ="My name is Chetan"
print(s1.split()) #list of string is created

['My', 'name', 'is', 'Chetan']

In [ ]:
s2 ="Mumbai - pune -mumbai"
s2.split("-")

['Mumbai ', ' pune ', 'mumbai']

In [ ]:
s2.replace("-","---")

'Mumbai --- pune ---mumbai'

In [ ]:
city = "satara"
city.count("a")

3

In [ ]:
"-"*40

'----------------------------------------'

# **22/06/2023**
Conditional Statment

In [ ]:
a= 3
b=5

if a>b:
  print(a,"is greater")
  print("In True Bolck")
  c=a+b
  print(c)
else:
  print(b,"is greater")
  print("In False Bolck")
  c=a*b
  print(c)

5 is greater
In False Bolck
15

In [ ]:
salary = 15000
if(salary > 20000):
  tax=0.25
  print("Hello from True")
else:
  tax=0.20
  print("Hello from False")
net_sal=salary-tax*salary
print(net_sal)

Hello from False
12000.0

In [ ]:
# For Loop

for i in range(1,11):
  print(i)
print("Bye")

1
2
3
4
5
6
7
8
9
10
Bye

In [ ]:
# odd numbers
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# even numbers
for i in range(2,20,2):
  print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
# break statment
for i in range(1,11):
  if i==5:
    print("same")
    break
  else:
    print(i)

1
2
3
4
same

In [ ]:
for n in range(11):
  print(n," ",n*n)

0   0
1   1
2   4
3   9
4   16
5   25
6   36
7   49
8   64
9   81
10   100

In [ ]:
for i in range(1,30,5):
  print(i)

1
6
11
16
21
26

In [ ]:
for i in range(1,30,5):
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject ="Math"
for letter in subject:
  print(letter)

M
a
t
h

In [ ]:
# Q: print name 3 times on first line ,4 times ,5 times ,6 times ?
name = "Snehal"
for i in range(3,7):
  x = (name + " ")*i
  print(x)

Snehal Snehal Snehal
Snehal Snehal Snehal Snehal
Snehal Snehal Snehal Snehal Snehal
Snehal Snehal Snehal Snehal Snehal Snehal

In [ ]:
movie = "Drishyam"
for i in movie:
  # print(i,end=" ")
  print(i.upper(),end = "  **  ")

D  **  R  **  I  **  S  **  H  **  Y  **  A  **  M  **

In [ ]:
for i in range(1,11):
  if i % 2 == 0:
    print('Even Number :',i)
  else:
    print('Odd Number :',i)

Odd Number : 1
Even Number : 2
Odd Number : 3
Even Number : 4
Odd Number : 5
Even Number : 6
Odd Number : 7
Even Number : 8
Odd Number : 9
Even Number : 10

# ***23/6/2023***

In [ ]:
status1 = True
status2 = False
print(type(status1))
type(status2)

<class 'bool'>

bool

In [ ]:
for i in "Data":
  print(i*4)

DDDD
aaaa
tttt
aaaa

In [ ]:
len("Chetan ")

7

# ***Data Structures***

**1.List**

`list are mutable`

`created using squar brackets []`

In [ ]:
marks = [40,43,56,87,78,54,23]
marks

[40, 43, 56, 87, 78, 54, 23]

In [ ]:
type(marks)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(marks)

7

In [ ]:
sorted(marks)

[23, 40, 43, 54, 56, 78, 87]

In [ ]:
marks

[40, 43, 56, 87, 78, 54, 23]

In [ ]:
marks.sort()
marks

[23, 40, 40, 40, 40, 43, 54, 56, 78, 87]

In [ ]:
marks.append(40)
marks

[23, 40, 43, 54, 56, 78, 87, 40, 40, 40]

In [ ]:
marks.remove(40)
marks

[23, 40, 43, 54, 56, 78, 87]