<a href="https://colab.research.google.com/github/CM-007/pythonCode_DS/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Bacics 01**

# **21/06/2023**

In [1]:
print("Welcome to ExcelR!")

Welcome to ExcelR!

In [2]:
print('"Welcome to ExcelR!"')

"Welcome to ExcelR!"

In [3]:
120/12*2-4

16.0

In [4]:
marks = 20
marks

20

In [5]:
type(marks)

int

In [6]:
# Power function(**)
5**4

625

In [7]:
price = 50.5
price
type(price) #only shows o/p of last line

float

In [8]:
price = 50.5
print(price)
type(price)

50.5

float

In [9]:
name = "Neha"
type(name)

str

In [10]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
str1 = "welcome to Data Science"
str1.capitalize()

'Welcome to data science'

In [12]:
str1

'welcome to Data Science'

In [13]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [14]:
str1.lower()

'welcome to data science'

In [15]:
str1.title()

'Welcome To Data Science'

In [16]:
food ="bIrYAni"
name="sNEHAL"

print(food.swapcase())
name.swapcase()

BiRyaNI

'Snehal'

In [17]:
food.capitalize()

'Biryani'

In [18]:
s1 ="My name is Chetan"
print(s1.split()) #list of string is created

['My', 'name', 'is', 'Chetan']

In [19]:
s2 ="Mumbai - pune -mumbai"
s2.split("-")

['Mumbai ', ' pune ', 'mumbai']

In [20]:
s2.replace("-","---")

'Mumbai --- pune ---mumbai'

In [21]:
city = "satara"
city.count("a")

3

In [22]:
"-"*40

'----------------------------------------'

# **22/06/2023**
Conditional Statment

In [34]:
a= 3
b=5

if a>b:
  print(a,"is greater")
  print("In True Bolck")
  c=a+b
  print(c)
else:
  print(b,"is greater")
  print("In False Bolck")
  c=a*b
  print(c)

5 is greater
In False Bolck
15

In [36]:
salary = 15000
if(salary > 20000):
  tax=0.25
  print("Hello from True")
else:
  tax=0.20
  print("Hello from False")
net_sal=salary-tax*salary
print(net_sal)

Hello from False
12000.0

In [50]:
# For Loop

for i in range(1,11):
  print(i)
print("Bye")

1
2
3
4
5
6
7
8
9
10
Bye

In [54]:
# odd numbers
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [55]:
# even numbers
for i in range(2,20,2):
  print(i)

2
4
6
8
10
12
14
16
18

In [56]:
# break statment
for i in range(1,11):
  if i==5:
    print("same")
    break
  else:
    print(i)

1
2
3
4
same

In [62]:
for n in range(11):
  print(n," ",n*n)

0   0
1   1
2   4
3   9
4   16
5   25
6   36
7   49
8   64
9   81
10   100

In [63]:
for i in range(1,30,5):
  print(i)

1
6
11
16
21
26

In [64]:
for i in range(1,30,5):
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [65]:
subject ="Math"
for letter in subject:
  print(letter)

M
a
t
h

In [72]:
# Q: print name 3 times on first line ,4 times ,5 times ,6 times ?
name = "Snehal"
for i in range(3,7):
  x = (name + " ")*i
  print(x)

Snehal Snehal Snehal
Snehal Snehal Snehal Snehal
Snehal Snehal Snehal Snehal Snehal
Snehal Snehal Snehal Snehal Snehal Snehal

In [88]:
movie = "Drishyam"
for i in movie:
  # print(i,end=" ")
  print(i.upper(),end = "  **  ")

D  **  R  **  I  **  S  **  H  **  Y  **  A  **  M  **

In [87]:
for i in range(1,11):
  if i % 2 == 0:
    print('Even Number :',i)
  else:
    print('Odd Number :',i)

Odd Number : 1
Even Number : 2
Odd Number : 3
Even Number : 4
Odd Number : 5
Even Number : 6
Odd Number : 7
Even Number : 8
Odd Number : 9
Even Number : 10