<a href="https://colab.research.google.com/github/CM-007/pythonCode_DS/blob/main/Selecting_column_in_a_data_frame_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Selecting column in a data frame**

In [ ]:
import pandas as pd
# Read csv file
df= pd.read_csv("/content/Salaries.csv")

In [ ]:
df.phd

0     56
1     12
2     23
3     40
4     20
      ..
73    18
74    19
75    17
76    28
77    23
Name: phd, Length: 78, dtype: int64

In [ ]:
df['phd']

0     56
1     12
2     23
3     40
4     20
      ..
73    18
74    19
75    17
76    28
77    23
Name: phd, Length: 78, dtype: int64

In [ ]:
# Best way to select and print column
df[['phd']]

    phd
0    56
1    12
2    23
3    40
4    20
..  ...
73   18
74   19
75   17
76   28
77   23

[78 rows x 1 columns]

## **Class Exercise**:

In [ ]:
#Q: Calculate ths basic statistics for the phd column ?
phd_df=df[['phd']]

In [16]:
phd_df.describe()

             phd
count  78.000000
mean   19.705128
std    12.498425
min     1.000000
25%    10.250000
50%    18.500000
75%    27.750000
max    56.000000

In [ ]:
# Q: Find how many columns in the phd column (use count method) ?
phd_df.count()

phd    78
dtype: int64

In [ ]:
# Q: Calculate average phd column ?
phd_df.mean()

phd    19.705128
dtype: float64