<a href="https://colab.research.google.com/github/CM-007/pythonCode_DS/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Selecting column in a data frame**

In [1]:
import pandas as pd
# Rread csv file
df= pd.read_csv("/content/Salaries.csv")

In [2]:
df.phd

0     56
1     12
2     23
3     40
4     20
      ..
73    18
74    19
75    17
76    28
77    23
Name: phd, Length: 78, dtype: int64

In [3]:
df['phd']

0     56
1     12
2     23
3     40
4     20
      ..
73    18
74    19
75    17
76    28
77    23
Name: phd, Length: 78, dtype: int64

In [4]:
# Best way to select and print column
df[['phd']]

    phd
0    56
1    12
2    23
3    40
4    20
..  ...
73   18
74   19
75   17
76   28
77   23

[78 rows x 1 columns]

## **Class Exercise**:

In [5]:
#Q: Calculate ths basic statistics for the phd column ?
phd_df=df[['phd']]

In [6]:
phd_df.head()

   phd
0   56
1   12
2   23
3   40
4   20

In [7]:
phd_df.tail()

    phd
73   18
74   19
75   17
76   28
77   23

In [8]:
phd_df.describe()

             phd
count  78.000000
mean   19.705128
std    12.498425
min     1.000000
25%    10.250000
50%    18.500000
75%    27.750000
max    56.000000

In [9]:
phd_df.count()

phd    78
dtype: int64

In [10]:
phd_df.mean()

phd    19.705128
dtype: float64

In [11]:
phd_df.dtypes

phd    int64
dtype: object

In [12]:
phd_df.empty

False

In [13]:
phd_df.axes

[RangeIndex(start=0, stop=78, step=1), Index(['phd'], dtype='object')]

In [14]:
# Q: Find how many columns in the phd column (use count method) ?
phd_df.count()

phd    78
dtype: int64

In [15]:
# Q: Calculate average phd column ?
phd_df.mean()

phd    19.705128
dtype: float64